/* .header_main{
    padding: 0;
    margin: 0;
    width: 100%;
}
.header{
    color: white;
    background-color: #162171;
    display: flex;
    justify-content: space-evenly;
    font-size: 15px;

}
.socialMedia a{
    font-style: none;
    color: white;
    padding: 10px;
}
.header_info{
    display: flex;
    margin-right: 500px;
    gap: 10px;
}
.header_info div{
    padding: 10px;
}
.socialMedia{
    display: flex;
}
.navbar{
    font: bolder;
    display: flex;
    justify-content: space-evenly;
    padding: 16px;
    box-shadow: 3px 2px 5px 3px #888888;
}
.navbar .title{
    color: #162171;
    padding: 10px;
    font-size: 21px;   
    margin-right: 235px;
}
.navicon{
    display: flex;
    list-style: none;
}
.navicon li{
    font: bold;
    padding: 10px;
}
.navicon li:hover{
    color: #1b2dbb;

}
@media (max-width:600){
    .header_info{
        display: none;
    }
} */
.header_main {
  display: none;
}
.res
.responsive_socialMedia {
  display: flex;
  background-color: #162171;
}
.responsive_socialMedia a {
  color: white;
  padding: 10px;
  font-size: small;
}
.ham_and_title{
    display: flex;
}
.hamburger{
    position: absolute;
    right:5px;
}
.responsive_navicon{
    align-items: start;
}
