 .header_main{
    padding: 0;
    margin: 0;
    width: 100%;
}
.responsive_heading{
    display :none;
}
.header{
    color: white;
    background-color: #162171;
    display: flex;
    justify-content: space-evenly;
    font-size: 15px;

}
.socialMedia a{
    font-style: none;
    color: white;
    padding: 10px;
}
.header_info{
    display: flex;
    margin-right: 500px;
    gap: 10px;
}
.header_info div{
    padding: 10px;
}
.socialMedia{
    display: flex;
}
.navbar{
    font: bolder;
    display: flex;
    justify-content: space-evenly;
    padding: 16px;
    box-shadow: 3px 2px 5px 3px #888888;
}
.navbar .title{
    color: #162171;
    padding: 10px;
    font-size: 21px;   
    margin-right: 235px;
}
.navicon{
    display: flex;
    list-style: none;
}
.navicon li{
    font: bold;
    padding: 10px;
}
.navicon li:hover{
    color: #1b2dbb;

}
@media (max-width:600px){
    .header_main{
        display: none;
    }
    .responsive_heading{
        display: flex;
    }
} 
/* 
.header_main{
    padding: 0;
    margin: 0;
    width: 100%;
}

.header{
    color: white;
    background-color: #162171;
    display: flex;
    justify-content: space-evenly;
    font-size: 15px;

}
.socialMedia a{
    font-style: none;
    color: white;
    padding: 10px;
}
.header_info{
    display: none;
}
.socialMedia{
    padding: 10px;
}
.navbar{
    display: flex;
    justify-content: space-evenly;
    
}
.hamburger{
    position: absolute;
    right: 10px;
}
.navicon{
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    justify-content: center;
} */
